@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Sacrament Meeting Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Sacrament Meeting Planner</h2>
        <p>
            This Sacrament Meeting Planner is designed
            to help you become awesome Mr. awesome. Go
            buid an awesome meeting plan and be awesome, 
            awesome man/woman.
        </p>
    </div>
</div>