@*Song assign view Create*@
@page
@model SacramentMeetingPlanner.Pages.NavViews.SongAssignmentView.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SongAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SongAssignment.SongID" class="control-label"></label>
                <select asp-for="SongAssignment.SongID" class="form-control" asp-items="ViewBag.SongID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SongAssignment.SongTypeID" class="control-label"></label>
                <select asp-for="SongAssignment.SongTypeID" class="form-control" asp-items="ViewBag.SongTypeID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
