@*Planner view Edit*@
@page "{id:int?}"
@model SacramentMeetingPlanner.Pages.NavViews.PlannerView.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Sacrament Meeting Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plans.PlanDate" class="control-label"></label>
                <input asp-for="Plans.PlanDate" class="form-control" />
                <span asp-validation-for="Plans.PlanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plans.Role.RoleTypeName" class="control-label">Conducting</label>
                <select asp-for="Plans.Role.RoleTypeName" class="form-control" asp-items="@Model.RoleNameSL">
                    <option value="">-- Select Bishopric Member --</option>
                </select>
                <span asp-validation-for="Plans.Role.RoleTypeName" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
